---
// server side code at build time
import Telescope from './components/icon1.astro'
import Eclipse from './components/icon2.astro'
import Rocket from './components/icon3.astro'
import Astroid from './components/icon4.astro'
import Orbit from './components/icon5.astro'

import '../styles/icons.css'

const gsapScript = '<script src="https://cdn.jsdelivr.net/npm/gsap@3.15.0/dist/gsap.min.js"></script>'
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Animated SVG Icon Set</title>
	</head>
	<body>
		<div set:html={gsapScript}></div>

		<!-- Load icons as separate components -->
		<div class="icon-grid">
			<Telescope />
			<Eclipse />
			<Rocket />
			<Astroid />
			<Orbit />
		</div>

	</body>
</html>